.CartModal {
  /* display: flex;
  flex-direction: row; */
}

.ModalHeader {
  height: 100%;
  width: 100%;
}

.BagContainer {
  height: 100%;
  width: 100%;
}

.CartCard {
  display: flex;
  flex-direction: column;
}

.ColorWidget {
}

.CartInfo {
  flex: 1;
}

.CartGallery {
  flex: 1;
}

.CartImagePreview {
  height: 100px;
  width: 100px;
}
