.pageContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  flex-grow: 1;
  width: 1100;
  padding: 10px;
  padding-bottom: 10px;
}

.categoryName {
  flex: 1;
  width: 1100;
  align-self: "left";
  margin-left: "15%;";
  margin-top: "5%";
  margin-bottom: "5%";
  font-size: 32;
}
